*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
.navbar{
    background-color:slategrey;
    height: 90px;
    width: 100%;
}
.navbar-nav a{
    font-size: 20px;
    font-weight: 700;
    color: white;
    justify-content: space-between;
    border-radius: 50px;
}
.navbar-nav a:hover{
background: #ffb25a;
border-radius: 50px;
}
.navbar-brand{
    font-size: 50px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
}
.navbar-brand .bounce_in_animation{
    color: #ffb25a;
}
@keyframes bounceIn {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    20% {
      opacity: 1;
    }
    40% {
      transform: scale(1.15)
    }
    70% {
      transform: scale(.9)
    }
    100% {
      transform: scale(1);
    }
}
  
  @keyframes slideDown {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    40% {
      transform: translateY(5px);
    }
    70% {
      transform: translateY(-3px);
    }
    100% {
      transform: translateY(0);
    }
}
  
  @keyframes slideUp {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    40% {
      transform: translateY(-3px);
    }
    70% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0);
    }
}
  
  @keyframes spinIn {
    0% {
      opacity: 0;
      transform: rotate(180deg) scale(0);
    }
    20% {
      opacity: 1;
    }
    40% {
      transform: rotate(360deg) scale(1.15)
    }
    70% {
      transform: rotate(360deg) scale(.9)
    }
    100% {
      transform: rotate(360deg) scale(1);
    }
}
  .video-container {
    top: 0;
    left: 0;
    display: block;
    height: 100vh;
    width: 1520;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    z-index: 1000;
    outline: none !important;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid brown;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #ffb25a;
    background: #ffb25a;
    transition: 1s;
}
.text-box{
    width: 90%;
    color: #fff; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 24px;
}
.text-box a{
    font-size: 20px;
}

section{
  background-image: url(../Images/back\ work.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.course{
   width: 80%;
    background-size: cover;
    margin: auto;
    text-align: center;
    padding-top:100px;
}
.course h1{
    font-size: 36px;
    font-weight: 600;
}
.course p{
    color: black;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    padding: 10px;
}
.course .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: brown;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-col h3{
    text-align: center;
    font-weight: 800;
    margin: 10px 0;
    color: #ffb25a;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.course-col1{
    flex-basis: 31%;
    background: brown;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-col1 h3{
    text-align: center;
    font-weight: 800;
    margin: 10px 0;
    color: #ffb25a;
}
.course-col1:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.course-col2{
    flex-basis: 31%;
    background: brown;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-col2 h3{
    text-align: center;
    font-weight: 800;
    margin: 10px 0;
    color: #ffb25a;
}
.course-col2:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
#about-section {
  background: url(../Images/aboutbg.jpg);
  position: relative;
}

.blockabout {
  padding: 20px;
  background: white;
}
.blockabout h3{
  color: #ffb25a;
}
.description-p{
  color: #070707;
}

.blockabout-inner {
  padding: 30px;
  border: 3px solid rgba(32, 33, 36, 0.1);
}

.sosmed-horizontal a i {
  border: 1px solid #070707;
  border-radius: 50%;
  color: #070707;
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  margin: auto 3px;
  font-size: 15px;
  text-align: center;
  transition: all 0.3s;
}

.rey-btn {
  border: 2px solid #070707;
  padding: 10px 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: 700;
  border-radius: 50px;
  transition: all 0.3s;
}
.potoaboutwrap h1{
  font-weight: 900;
  color: #ffb25a;
  text-align: center;
}
.potoaboutwrap p{
  color: #fff;
  font-size: 20px;
  font-family: cursive;
  margin-top: 5px;
}
.process{
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  background: teal;
}
/* col1 start */
.process-col1{
  flex-basis: 21%;
  background: #603f3f;
  border-radius: 10px;
  margin-bottom: 5%;
  margin-left: 45px;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  border: 2px solid #fff;
}
.process-col1 h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  color: whitesmoke;
  letter-spacing: 2px;
}
.process-col1 h1{
  color: #ffb25a;
}
.process-col1 i{
font-size: 40px;
color: #ffb25a;
}
.process-col1 p{
color: #000;
font-size: 20px;
}
.process-col1:hover{
box-shadow: 0 0 25px 0px rgba(255, 85, 0, 0.9);
}
/* col1 end */

/* col2 start */
.process-col2{
  flex-basis: 21%;
  background: #603f3f;
  border-radius: 10px;
  margin-bottom: 5%;
  margin-left: 45px;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  border: 2px solid #fff;
}
.process-col2 h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  color: whitesmoke;
  letter-spacing: 2px;
}
.process-col2 h1{
  color: #ffb25a;
}
.process-col2 i{
font-size: 40px;
color: #ffb25a;
}
.process-col2 p{
color: #000;
font-size: 20px;
}
.process-col2:hover{
box-shadow: 0 0 25px 0px rgba(255, 85, 0, 0.9);
}
/* col2 end */

/* col3 start */
.process-col3{
  flex-basis: 21%;
  background: #603f3f;
  border-radius: 10px;
  margin-bottom: 5%;
  margin-left: 45px;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  border: 2px solid #fff;
}
.process-col3 h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  color: whitesmoke;
  letter-spacing: 2px;
}
.process-col3 h1{
  color: #ffb25a;
}
.process-col3 i{
font-size: 40px;
color: #ffb25a;
}
.process-col3 p{
color: #000;
font-size: 20px;
}
.process-col3:hover{
box-shadow: 0 0 25px 0px rgba(255, 85, 0, 0.9);
}
/* col3 end */

/* col4 start */
.process-col4{
  flex-basis: 21%;
  background: #603f3f;
  border-radius: 10px;
  margin-bottom: 5%;
  margin-left: 45px;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  border: 2px solid #fff;
}
.process-col4 h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  color: whitesmoke;
  letter-spacing: 2px;
}
.process-col4 h1{
  color: #ffb25a;
}
.process-col4 i{
font-size: 40px;
color: #ffb25a;
}
.process-col4 p{
color: #000;
font-size: 20px;
}
.process-col4:hover{
box-shadow: 0 0 25px 0px rgba(255, 85, 0, 0.9);
}
/* col4 end */
.home-testimonial{
  background-color: #231834;
  height: 380px;
}
.home-testimonial-bottom{
  background-color: #f8f8f8;
  transition:  0.3s;
  border: 0.3s; border-radius: 0.3s;
  box-shadow: 0.3s;
  margin-top: 20px;
  margin-bottom: 0px;
  position: relative;
  height: 130px;
  top: 190px;
}
.home-testimonial h3{
    color: #ffb25a;
    font-size: 25px;
    font-weight: 00;
    text-transform: uppercase;
}
.home-testimonial h2{
    color: white;
    font-size: 28px;
    font-weight: 700;
}
.testimonial-inner{
    position: relative;
    top: -174px;
}
.testimonial-pos{
    position: relative;
    top: 24px;
}
.testimonial-inner .tour-desc{
    border-radius: 5px;
    padding: 40px;
}
.color-grey-3{
    font-family: "Montserrat",Sans-serif;
    font-size: 14px;
    color: #6c83a2;
}
.testimonial-inner img.tm-people{
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: none;
}
.link-name{
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    color: #6c83a2;
}
.link-position{
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;color: #6c83a2;
}